{% extends "base.html" %}
{% block title %} blog page{%  endblock %}
{% block content %}
<br>
<h1 class="text-center"> 블로그 데이터 입력</h1>
<br>
<div class="container">
    <form action = "/blogform" method = "post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label"> 블로그 제목 </label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp">
          <div id="titleHelp" class="form-text">블로그의 제목 입력.</div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">블로그 내용</label>
            <input type="text" class="form-control" id="content" name="content" aria-describedby="contentHelp">
            <div id="emailHelp" class="form-text">블로그 내용을 입력.</div>
          </div>

        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <div class="mb-3">
            <label for="formFile" class="form-label">이미지 선택</label>
            <input class="form-control" type="file" id="formFile" name = "formFile">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock %}